
.addcredbody {
  background-color: #f8f2ef;
}
/* formerror */
.error1 {
  color: darkred;
}
/* Tabs */
.tabs {
  background-color: #d8ac19;
  font-family: "Muli", sans-serif;
  /* background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png"); */
}

#tab-1 {
  width: 900px;
  height: 700px;
  background: linear-gradient(-45deg, #ee7752, #fff788);
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 15px;
}

#tab-1::before {
  content: "";
  height: 50px;
  width: 100px;
  top: -25px;
  left: 145px;
  position: fixed;
  background-color: #fff788;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 15px;
}

#tab-2 {
    width: 900px;
    height: 700px;
    background: #7e7671;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
  }
  
  #tab-2::before {
    content: "";
    height: 50px;
    width: 100px;
    top: -25px;
    left: 60px;
    position: fixed;
    background-color: #7e7671;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
  }
  
  #tab-3 {
    width: 900px;
    height: 700px;
    background: linear-gradient(-45deg, #ee7752, #fff788);
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
  }
  
#tab-3::before {
  content: "";
  height: 50px;
  width: 100px;
  top: -25px;
  left: 190px;
  position: fixed;
  background-color: #ffb23d;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 15px;
}

#tab-1:hover:before,
#tab-1:hover {
  z-index: 1;
}
#tab-2:hover:before,
#tab-2:hover {
  z-index: 1;
}
#tab-3:hover:before,
#tab-3:hover {
  z-index: 1;
}

/* forms */
.credh2 {
  /* font-family: "Damion", cursive;
  font-weight: 400; */
  color: black;
  font-size: 35px;
  text-align: center;
  position: relative;
  /* margin-left: 30%; */
}

/* checker submit button-start-addcredbtn */
.wrap1 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addcredbtn1 {
  margin-top: 70px;
  min-width: 100px;
  margin-left: 160px;
  min-height: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: white;
  border: none;
  border-radius: 500px;
  box-shadow: 12px 12px 24px black;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.addcredbtn1::before {
  content: "";
  border-radius: 70px;
  min-width: 130px;
  min-height: 60px;
  border: 3px solid rgb(212, 111, 29);
  box-shadow: 0 0 60px rgb(248, 154, 154);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.addcredbtn1:hover,
.addcredbtn1:focus {
  color: #313133;
  transform: translateY(-6px);
}

.addcredbtn1:hover::before,
.addcredbtn1:focus::before {
  opacity: 1;
}

.addcredbtn1::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #000;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.addcredbtn1:hover::after,
.addcredbtn1:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
/* manager submit button-start */
.wrap2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addcredbtn2 {
  margin-top: 70px;
  min-width: 100px;
  margin-left: -30px;
  min-height: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: white;
  border: none;
  border-radius: 500px;
  box-shadow: 12px 12px 24px rgb(240, 233, 233);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.addcredbtn2::before {
  content: "";
  border-radius: 1000px;
  min-width: 160px;
  min-height: 60px;
  border: 6px solid #fff;
  box-shadow: 0 0 60px rgb(248, 134, 134);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.addcredbtn2:hover,
.addcredbtn2:focus {
  color: #313133;
  transform: translateY(-6px);
}

.addcredbtn2:hover::before,
.addcredbtn2:focus::before {
  opacity: 1;
}

.addcredbtn2::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #000;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.addcredbtn2:hover::after,
.addcredbtn2:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
/* form design */
.error {
  color: darkred;
}
/* textfield effect */
 .effect-7 {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
}
.effect-7 ~ .focus-border:before,
.effect-7 ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  width: 0;
  height: px;
  background-color: #f70707;
  transition: 0.4s;
} 
/* #4caf50 */
 .effect-7 ~ .focus-border:after {
  top: auto;
  bottom: 0;
} 
 .effect-7 ~ .focus-border i:before,
.effect-7 ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #f70707;
  transition: 0.6s;
}
.effect-7 ~ .focus-border i:after {
  left: auto;
  right: 0;
}
.effect-7:focus ~ .focus-border:before,
.effect-7:focus ~ .focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;
}
.effect-7:focus ~ .focus-border i:before,
.effect-7:focus ~ .focus-border i:after {
  top: 0;
  height: 100%;
  transition: 0.6s;
} 
.center {
  margin-left: auto;
  margin-right: auto;
}

/* submitted text effect */
/* clipping */

.prnt1 {
 margin-left:30%;
  font-size: 18px;
  text-transform: uppercase;
  color: #532a03;
  /* letter-spacing: 5px; */
  font-family: "Monoton", Helvetica, sans-serif;
  margin-left:5cm;
  align-items: center;
}
.prnt{
  margin-left: 43%;
}
.prnt3 {
  margin-left:30%;
   font-size: 18px;
   text-transform: uppercase;
   color: #532a03;
   /* letter-spacing: 5px; */
   font-family: "Monoton", Helvetica, sans-serif;
   margin-left:5cm;
   align-items: center;
 }
 .prnt4{
   margin-left: 43%;
 }