
  
  
  /* nav bar design */
  .warefa-2x {
    font-size: 2em;
    }
    .warefa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
   
    }
    
    
    .waremain-menu:hover,nav.waremain-menu.expanded {
    width:250px;
    overflow:visible;
    
    }
    
    .waremain-menu {
    background:#212121;
    border-right:1px solid #e5e5e5;
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
    }
    
    .waremain-menu>ul {
    margin:7px 0;
    }
    
    .waremain-menu li {
    position:relative;
    display:block;
    width:250px;
    }
    
    .waremain-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
     font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
      
    }
    
    .waremain-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
    }
    
    .waremain-menu .warenav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
      font-family: 'Titillium Web', sans-serif;
    }
    
    waremain-menu>ul.warelogout {
    position:absolute;
    left:0;
    bottom:0;
    }
    
    no-touch .scrollable.hover {
    overflow-y:hidden;
    }
    
    no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
    }
    
    a:hover,a:focus {
    text-decoration:none;
    }
    
    nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    }
    
    .nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
    margin-top:10%;
    }
    .waremain-menu li:hover>a,nav.waremain-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#dbb45f;
    }
    .warearea {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
    }
    @font-face {
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 300;
      src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
    }
  
    /* bg image */
    /* .imgbox{
      margin-top: 200px;
      margin-left: 600px;
    } */
      

    /* table design */

    .card{
      font-family: fantasy;
      padding: 10px;
      margin-top: 20px;
      color: black;
      left: 90px;
      width: 1600px;
      right: 30px;
      background-color: #ff6700;
      font-size: 20px;
    }
  
    .table-container th h1 {
      font-weight: bold;
      font-size: 1em;
      text-align: left;
      color: #EDEDED;
  }
  
  .table-container td {
      font-weight: normal;
      font-size: 1em;
      -webkit-box-shadow: 0 2px 2px -2px #0E1119;
      -moz-box-shadow: 0 2px 2px -2px #0E1119;
      box-shadow: 0 2px 2px -2px #0E1119;
  }
  
  .table-container {
      text-align: left;
      overflow: hidden;
      width: 80%;
      margin: 0 auto;
      display: table;
      padding: 0 0 8em 0;
  }
  
  .table-container td, .table-container th {
      padding-bottom: 2%;
      padding-top: 2%;
  padding-left:2%;  
  }
  
  /* Background-color of the odd rows */
  .table-container tr:nth-child(odd) {
      background-color: white;
  }
  
  /* Background-color of the even rows */
  .table-container tr:nth-child(even) {
      background-color: #ff6700;
  }
  
  .table-container th {
      background-color: #1F2739;
  }
  
  .table-container td:first-child { color: #0f0e0e; }
  
  .table-container tr:hover {
   background-color: white;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
       -moz-box-shadow: 0 6px 6px -6px #0E1119;
            box-shadow: 0 6px 6px -6px #0E1119;
  }
  
  .table-container td:hover {
  background-color: rgb(255, 123, 0);
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
      transition-duration: 0.4s;
      transition-property: all;
  transition-timing-function: line;
  }
  
  @media (max-width: 800px) {
  .table-container td:nth-child(4),
  .table-container th:nth-child(4) { display: none; }
  }