/* form position */
.reqformbody{
    margin-left: 35%;
  }
  .reqtxtfield{
    margin-left: 19.5%;
    
  }
  .reqtxtfield2{
    margin-left: 18%;
    
  }
  .reqtxtfield3{
    margin-left: 23%;
    
  }
  .reqbtnposition{
    margin-left: 16%;
  }
  .reqbtnposition1{
    margin-left: 13%;
    margin-top:2%;
  }
  .trposition{
    margin-left: 45%;
  }
  